// index-page header
.skipLink{
  position: absolute;
  left:-1000px;
  top:5px;
  background-color: $primary;
  color: black;
  z-index:10;
  &:focus{
    left:0;
  }}
  .homeHeader {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-image: url(../assets/header-image.jpg);
    background-repeat: no-repeat;
    background-position: center top; 
    background-size:100% auto; 
    margin-bottom: 80px;
    .navWrapper{
      height: 1200px;
      max-width: 100%;
      .navBar {
        position: relative;
        text-align: center;
        margin-left:50vw;
        ul{
          width: 100%;
          margin: 0;
          margin-top: 20px;
          padding:0;
          li{
            display: inline;
            a{
              margin-right:40px;
              font-family: $headerFamily;
              font-size: 20px;
              font-weight: bold;
              font-style:italic;
              text-align: center;
              line-height: 29px;
              &:hover, &:focus{
             border-bottom: 2px solid $btnColor;
           }

            }
          }
        }
      }
      h1 {
        position: relative;
        top:500px;
        }
     .imgWrapper{
         padding: 0;
         margin:auto;
         margin-top: -150px;
         text-align: right;
        }
    }  
  }
  
  .navWrapper {
    height:1200px;
    max-width:100%;
  }
  .navBar {
    position: relative;
    text-align: center;
    margin-left:50vw;
  }
  h1 {
  position: relative;
  top:300px;
  }
  .navBar ul {
   width: 100%;
   margin: 0;
   margin-top: 20px;
   padding:0;
  }
  .navBar li{
    display: inline;
  }
  .navBar a {
    margin-right:40px;
    font-family: $headerFamily;
    font-size: 20px;
    font-weight: bold;
    font-style:italic;
    text-align: center;
    text-align: center;
    line-height: 29px;
    &:hover, &:focus{
      border-bottom: 2px solid $btnColor;
   }
 }
 .imgWrapper{
  padding: 0;
  margin:auto;
  margin-top: -150px;
  text-align: right;
 }

  
 // Contact page- header
 .contactHeader{
  background-image: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%; 
  object-fit: cover;
    .navbar{
      display: flex;
      flex-wrap: wrap;
    }
    h2{
    margin-top: 300px;
    }
   margin-bottom: 0; 
 }


 //Blog page- header
 .blogHeader{
  background-image: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 40%; 
  object-fit: cover;
  .navbar{
    display: flex;
    flex-wrap: wrap;
  }
  h2{
    margin-top: 100px;
  }
  margin-bottom: 0;
 }
 

  
