

@media(max-width:1000px){
 

// home-page
.homeHeader{
   .imgWrapper{
    display: none;
   }
   h1{
    margin-top: 0;
   }
}
//sections
.briefInfo{
  margin-top: 0;
  .wrapper{
    h3{
      margin-top: -600px;
    }
  }
}


//Blog-page
.blogPage{
  .blogWrapper{
    flex-direction: column;
    justify-content: space-between;
    .sideContainer{
      width:100vw;
      margin-top: -400px;
      margin-bottom: 250px;
    }
    .blogContainer{
      width:100vw;
      .blogForm{
        width:100%;
        form{
          grid-template-areas:
          "name"
          "email"
          "textarea"
          "btn";
        }
      }

    }
  }
}

// Contact-page 

// section
.contactMain{
  margin-top: -450px;
  .contactPage{
    .wrapper{
      .contactInfo{
        width:48%;
        margin-left: -85px;
      }
      .contactForm{
        box-shadow: none;
        form{
          padding: 10px;
          grid-template-areas:
              "name"
              "email"
              "textarea"
              "btn";
            }
          }
        }
      }
  }
}

// for smartphones
@media(max-width:500px){
//home page 
.homeHeader{
  .navBar {
    a{
      margin-right: 15px;
      font-size: 18px;
    }
  }
  h1{
    font-size: 45px;
    margin-top: -400px;
  }
}
//sections
.briefInfo{
  padding: 20px;
  //margin-bottom: 150px;
  margin-top: -450px;
  h3{
    font-size: 25px;
  }
  p,.btn{
    font-size: 18px;
    text-align: center;
  }
  .btn{
    padding: 10px;
  }
}
.solutions{
  
  flex-direction: column;
  .setFlex{
    width:100vw;
    margin-bottom: 30px;
    text-align: center;
    p{
      text-align: center;
    }
  }
  .shadowRb,.shadowLb{
    width:80vw;
  }
  
}

.tips{
 .wrapper{
  .tipWrapper1, .tipWrapper2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tipContainer1,.tipContainer2,.tipContainer3,.tipContainer4{
    width:100%;
    padding: 10px;
    h4{
      font-size:20px;
    }
    p{
      font-size: 18px;
    }
  }
 }
}

.profile{
  .profileContainer{
    flex-direction: column;
    padding: 0;
    margin-top: 30px;
    .profileImg{
      width:80%;
      margin:0 auto;
      margin-bottom: 30px; 
    }
    .profileContent{
      width:100%;
      padding:0;
      margin: 0 auto;
      h3{
        font-size: 25px;
        text-align: center;
      }
      p,.btn{
        font-size: 18px;
        text-align: center;
        padding: 10px;
      } 
    }
  }
}
.gallery{
  .wrapper{
    grid-template-columns:1fr;
    padding: 25px;
  }
}
//Blog page
.blogHeader{
  background:none;
  background-color: $primary;
}
//section
.blogMain{
  .blogWrapper{
    .sideContainer{
      width:100%;
      margin-top:0;
      padding-top:0;
      margin-left: 0;
      padding-left: 0;
      img{
        margin-top: -200px;
      }
      .sideContent{
      margin-left:0px;
      width:100%;

      .captured{
        margin: 0;
        padding: 5px;
       h4{ 
        font-size: 20px;
        text-align: center;
       }
       p{
        font-size: 18px;
        text-align: center;
        a{
          font-size: 18px;
        }
       }
      }
      .posts{
        margin: 0;
        padding: 5px;
       h4{ 
        font-size: 20px;
        text-align: center;
       }
       li {
        font-size: 18px;
        text-align: center;
        a{
          font-size: 18px;
        }
       }}
    }
   }
   .blogContainer{
    width:100%;
    padding: 10px;
    .blogContent{
      margin:0;
      h3{
        font-size:25px;
        text-align: center;
      }
      p{
        font-size: 18px;
        text-align: center;
      }
    }
    
    .comments{
      h4{
        font-size:20px;
      }
      .commentsContent1{
        margin-bottom: 50px;
      }
      .content{
        flex-direction: column;
        
        img{
          width:60%;
          height:60%;
          margin: 0 auto;
        }
        .contentContainer{
          padding: 10px;
          p{
            font-size: 18px;
            text-align: center;
          }
        }
      }
    }
   .blogForm{
    form{
      padding: 10px;
      grid-template-areas:
        "name"
        "email"
        "textarea"
        "btn";
    }
   }
  }
 }
}
//Contact page
.contactHeader{
  h2{
    font-size: 42px;
    margin-top:35px;
  }
  background: none;
  background-color: $primary;
}
.contactMain{
  margin-top: -700px;
 .contactPage{
  .wrapper{
    flex-direction: column;
    .contactInfo{
      width:100%;
      margin-top: -120px;
      margin-bottom: 200px;
      margin-left:-60px;
      h4{
        font-size: 20px;
        margin-bottom: 20px;
      }
      p{
        font-size: 18px;
        
        span{
          display: inline-block;
          width:100%;
        }
        padding: 5px;
      }
      .socialIcon{
        i{
          margin-right: 50px;
        }
        margin-bottom: 20px;
      }
    }
    .contactForm{
      width:100%;
      form{
        grid-template-areas:
        "name"
        "email"
        "textarea"
        "btn";
      }
    }
  }
 }
}

}