//Font-family
$headerFamily:'Playfair Display', serif;
$bodyFamily:'Roboto',sans-serif;
//Font size
$fontSize:1rem;
//colors
$primary:#FAFAFA;
$secondary:#EFFDF3;
$fontColor:#2C2C2C;
$btnColor:#4CEEA7;
$boxColor:#FAFD69;